# Geçici dosyalar
mouse.py
screenshot.py
*.png
AirDefenseZapper.py
github.png

# Çevre değişkenleri
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Geçici ekran görüntüleri
C:/temp/screenshot.png
temp/

# IDE dosyaları
.vscode/
.idea/
*.swp
*.swo

# Log dosyaları
*.log